.search-container {
    display: inline-block;
    position: relative;
}

.search-box {
    width: 241px;
    height: 38px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0 6px 12px;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-box:focus {
    box-shadow: 0 0 5px rgba(191,173,219,0.8);
}

.keyboard-shortcut {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    font-size: 12px;
    border: 2px solid rgb(222, 226, 230);
    border-radius: 2px;
    padding: 0 4px;
}